html {
  background-color: whitesmoke;
}

body {
  text-align: center;
}

.header {
  padding: 10px;
}

h2 {
  margin-right: 0px;
}

.buttons-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
}

.red {
  position: absolute;
  top: 0;
  right: 50%;
  width: 190px;
  height: 150px;
  background-color: red;
  opacity: 0.5;
}

.blue {
  position: relative;
  top: 0;
  left: 25%;
  width: 190px;
  height: 150px;
  background-color: blue;
  opacity: 0.5;
}

.yellow {
  position: absolute;
  bottom: 95px;
  right: 50%;
  width: 190px;
  height: 150px;
  background-color: yellow;
  opacity: 0.5;
}

.green {
  position: absolute;
  bottom: 95px;
  left: 51%;
  width: 190px;
  height: 150px;
  background-color: green;
  opacity: 0.5;
}

#start-button {
  position: relative;
  padding: 5px;
  width: 70px;
  height: 35px;
  bottom: 75px;
}

.hidden {
  display: none;
}
